<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation" id='header'>
  <div class="container">
    <ul class="nav navbar-nav default">
	    <a href="https://www.facebook.com/mehagel/" target='_blank'><%= image_tag 'iconmonstr-facebook-5-icon-256.png', size: '24x24' %></a>
	    <a href="https://github.com/mehagel" target='_blank'><%= image_tag 'iconmonstr-github-10-icon-256.png', size: '24x24' %></a>
	    <a href="http://www.linkedin.com/in/mehagel/" target='_blank'><%= image_tag 'iconmonstr-linkedin-5-icon-256.png', size: '24x24' %></a>
	    <a href="http://mehagel.tumblr.com/" target='_blank'><%= image_tag 'iconmonstr-tumblr-5-icon-256.png', size: '24x24' %></a>
	    <a href="https://twitter.com/mehagel65" target='_blank'><%= image_tag 'iconmonstr-twitter-5-icon-256.png', size: '24x24' %></a>
	    <a href="https://plus.google.com/+MEHagel/" target='_blank'><%= image_tag 'iconmonstr-google-plus-5-icon-256.png', size: '24x24' %></a>
	    <a href="mailto:mehagel65@gmail.com" target='blank'><%= image_tag 'iconmonstr-email-10-icon-256.png', size: '24x24' %></a>
    </ul>
  </div>
</nav>
